- title "Edit Phone"
- form_for @phone, :url => b_card_phone_path(params[:b_card_id], @phone) do |f|
  = render :partial => 'form', :locals => {:f => f}

%p
  = link_to "Show", phone_path(@phone)
  |
  = link_to "View All", phones_path
