- title "Contact"

%p
  %strong Name:
  =h @contact.name
%p
  %strong Email:
  =h @contact.email
%p
  = image_tag(@contact.photo.url)
%p
  %strong Description:
  =h @contact.description
%p
  %strong Phone:
  =h @contact.phone

%p
  = link_to "Edit", edit_contact_path(@contact)
  |
  = link_to "Destroy", @contact, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", contacts_path
